PRIVATE_KEY=

ZIRCUIT_GARFIELD_PRIVATE_KEY=
ZIRCUIT_GARFIELD_RPC=https://garfield-testnet.zircuit.com/
ZIRCUIT_GARFIELD_CHAIN_ID=48898

ZIRCUIT_PRIVATE_KEY=
ZIRCUIT_RPC=https://mainnet.zircuit.com
ZIRCUIT_CHAIN_ID=48900
